<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>Alpine.js - index.html</title>
</head>

<body>
    <div x-data="{ products: [], async init() {
        const response = await axios.get('http://127.0.0.1:8000/api/');
           
        this.products = response.data;
        console.log(response.data)
        }}" x-init="init()">

        <template x-for="product in products">
            <div>
                <div x-text="product.name"></div>
                <div x-text="product.description"></div>
                <div x-text="product.producer"></div>
                <div x-text="product.image_url"></div>
                <br>
            </div>
        </template>

     </div>
</body>
</html>