<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>index.html</title>
</head>

<body>
    <div x-data="{ products: [], async init() {
        const response = await axios.get('http://127.0.0.1:8000/api/');
           
        this.products = response.data;
        console.log(response.data)
        }}" x-init="init()">

        <template x-for="product in products">
            <div>
                <div x-text="product.name"></div>
                <div x-text="product.description"></div>
                <div x-text="product.producer"></div>
                <div x-text="product.theme_url"></div>
                <div x-text="product.slug"></div>
                <br>
            </div>
        </template>
     </div>

     <br><br>

    <div>
        <form method="post" action="{% url 'products:find_product' %}">
            {% csrf_token %}
            <label for="product_name">Enter Product Name:</label>
            <input type="text" id="product_name" name="product_name">&nbsp;&nbsp;<input type="submit" value="Find">   
        </form>
    <br>
    <form method="post" action="{% url 'products:download' %}">
            {% csrf_token %}
            <label for="link">Enter Theme URL:</label>
            <input type="text" id="link" name="link">&nbsp;&nbsp;<input type="submit" value="Download">   
        </form>
    </div>

     

    


</body>

</html>